body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Helvetica Neue",sans-serif;
}

.help-block{
    color: #a94442;
}

.input-group-addon{
  background-color: #5cb85c;
  color: white;
}

/* Credit to bootsnipp.com for the css for the color graph */
.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.navbar{
    border-radius: 0px;
}
.input-group {
  margin-bottom:15px;
}

.checkbox {
  padding-left: 20px;
}
.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
  line-height: 1.4;
}
.checkbox input[type="checkbox"]{
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: "FontAwesome";
  content: "\f00c";
}


.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #5cb85c;
  border-color: #5cb85c;
}
.checkbox-primary input[type="checkbox"]:checked + label::after{
  color: #fff;
}
.navbar-default {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #279227;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #279227;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #279227;
  background-color: #4cae4c;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #279227;
  background-color: #4cae4c;
}
.navbar-default .navbar-toggle {
  border-color: #4cae4c;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4cae4c;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #279227;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #279227;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #279227;
    background-color: #4cae4c;
  }
}

ul.posts{
    padding: 0px;
    margin-top:12px;
}

li.post{
    list-style-type: none;
    padding:10px 0;
    border-bottom:1px solid #e0e0e0;
}
.post-thumbnail{
    position: absolute;
}

li .post-body{
  padding: 10px;
  max-height: 90px;
  overflow: hidden;
  margin-bottom: 20px;
}
li .post-content{
    margin-left:60px;
    min-height: 60px;
}

ul.comments{
  padding: 0px;
  margin-top:12px;
}

li.comment{
  list-style-type: none;
  margin-top:10px;
}
li .comment-thumbnail{
  position: absolute;
}

.panel {
  position:relative;
  margin-left:60px;
  min-height: 60px;
}

.userLink{
  color:#999;
  
}
.userLink:hover{
    text-decoration: underline;
    color:#999;
  }

.panel span{
  color:#586061;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:#ddd;
	border-width:8px;
}

.pagination{
  float:right;
}
.comment-pagination::after{
  content:"";
  clear: both;
  display: block;
}
ul.pagination li a {
  color:#4cae4c;
}

ul.pagination .active a {
  background-color:#4cae4c;
  border-color:#4cae4c;
}

ul.pagination .active a:hover {
  background-color:#4cae4c;
  border-color:#4cae4c;
}

ul.pagination a:hover {
  color:#4cae4c;
}

.profile-thumbnail {
  border-radius: 50%;
}
.page-header{
  border-bottom-style: none;
  margin: auto;
}

#post_submit{
  float:right;
  width:auto;
}


.index_postList{
  margin-top:70px;
}
.post-footer{
  margin-bottom: 2px;
}
a:hover {
  text-decoration: none
}

.profile-box {  
  position: relative;  

  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin:0 auto;  
  
}  
 .profile-box img {  
    position: absolute;  
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin:0 auto; 
    left: 0;  

}  
.img-rounded{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin:0 auto; 
  left: 0;  
}
.profile-box .caption {  
    background-color: rgba(49, 46, 46, 0.8);  
    position: absolute;  
    color: #fff;  
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin:0 auto;  
    left: 0;  
    opacity: 0;  
 
}  

.profile-box h3 {  
    margin-top:35px;
}  

.profile-box:hover .fade-caption {  
    opacity: 1;  
}  


.badge{
  background-color: rgba(27,31,35,0.08);
  color:#586069;
}

#exTab2 li a{
  color:#586069;
}
#exTab2 .active a{
  color:#24292e;
}

.post-tabs .nav-tabs a{
  color:#586069;
}


.discussion-timeline-actions{
  margin-bottom: 10px;
}

.flash-warn{
  text-align: center;
  color: #735c0f;
  background-color: #fffbdd;
  border-color: rgba(27,31,35,0.15);
  padding: 16px;
  border: 1px solid rgba(27,31,35,0.15);
  border-radius: 3px;
}

.comment-footer{
  float:right;
}
.comment-footer .btn{
  display:inline;
  font-size:12px;
}

.post-footer .read-more{
  margin-left: 10px;

}

.post-footer-right{
  float: right;
}

.discussion-topic-header{
  padding: 10px;
}

#exTab2{
  padding:10px;
}

.post-markdown{
  float: left;
}
.tabnav-extra{
  font-size: 12px;
  color: #586069;
}
.tabnav-extra .v-align-bottom{
  vertical-align: bottom;
  margin-right: 2px;
}
.tabnav-extra:hover {
  color: #586069;
}
.timeline-comment {
  position: relative;
  margin-left: 60px;    
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  margin-bottom: 10px;
}

.timeline-comment .form-control{
  background-color: rgb(251, 250, 250);  
}
.timeline-comment .form-control:focus{
  background-color: #fff; 
}
.mark-down .timeline-comment::before,
.mark-down .timeline-comment::after {
  position: absolute;
  top: 11px;
  left: -16px;
  right: 100%;
  width: 0;
  height: 0;
  display: block;
  content: " ";
  border-color: transparent;
  border-style: solid solid outset;
  pointer-events: none;

}
.mark-down .timeline-comment::before {
  border-right-color:#d1d5da ;
  border-width: 8px;
}
.mark-down .timeline-comment::after {
  border-width: 7px;
  border-right-color: #fff;
  margin-top: 1px;
  margin-left: 2px;
}
.post-footer::after{
  content:"";
  clear:both;
  display: block;
}
.post-title{
  margin-left: 60px;
  margin-top: 0px;
}

.post-title{
  margin-left: 60px;
  margin-top: 0px;
}
.post-author{
  display:inline;
}

.post-date{
  color:#999;
  display: inline;
}

