 <ul class="comments">
        {% for comment in comments %}
        <li class="comment">
            <div class="comment-thumbnail">
                <a href="{{ url_for('main.user', username=comment.author.username) }}">
                    <img class="comment img-rounded" src="{{ comment.author.image_url }}">
                </a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>
                        <a class="userLink" href="{{ url_for('main.user', username=comment.author.username) }}">{{ comment.author.username }}</a>
                    </strong>
                    <span>commented</span>
                    {{ moment(comment.timestamp).fromNow() }}
                </div>
                <div class="panel-body">
                    {% if comment.body_html %}
                        {{ comment.body_html | safe }}
                    {% else %}
                        {{ comment.body }}
                    {% endif %}
                </div>
            </div>
        </li>
        {% endfor %}
</ul>
