{% import "bootstrap/wtf.html" as wtf %}
{% macro pagination_widget(pagination, endpoint) %}
    {% if pagination.total > pagination.per_page %}
        <ul class="pagination">
            <li{% if not pagination.has_prev %} class="disabled"{% endif %}>
                <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{% else %}#{% endif %}">
                    &laquo; Prev
                </a>
            </li>
            {% for p in pagination.iter_pages() %}
                {% if p %}
                    {% if p == pagination.page %}
                    <li class="active">
                        <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for(endpoint, page = p, **kwargs) }}">{{ p }}</a>
                    </li>
                    {% endif %}
                {% else %}
                <li class="disabled"><a href="#">&hellip;</a></li>
                {% endif %}
            {% endfor %}
            <li{% if not pagination.has_next %} class="disabled"{% endif %}>
                <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{% else %}#{% endif %}">
                    Next &raquo;
                </a>
            </li>
        </ul>
    {% endif %}
{% endmacro %}

{% macro markdownWidget(form) %}
        
        <div id="exTab2" >	
            <ul class="nav nav-tabs">
                <li class="active">
                    <a  href="#1" data-toggle="tab"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
                </li>
                <li>
                    <a href="#2" data-toggle="tab"><i class="fa fa-eye" aria-hidden="true"></i> Preview</a>
                </li>
            </ul>
            <form class="form" method="POST">      
                <div class="tab-content ">
                                
                        <div class="tab-pane active" id="1">
                            {{ form.hidden_tag() }}  
                            <div  class="form-group ">
                                {{ form.body(class="form-control",required='required',placeholder="What's on your mind?",only_input=True, rows=8) }}
                            </div>
                            
                        </div>
                        <div class="tab-pane" id="2">
                            {{ form.body(only_preview=True) }}
                        </div>
                        <div  class="form-group">
                                {{ wtf.form_field(form.submit,class="btn btn-success btn-block",id="post_submit")}}
                                <div style="clear:both"></div>
                        </div>
                </div>
            </form>
        
            </div>

        
{% endmacro %}

