{% extends "bootstrap/base.html" %}
{% block title %}Flasky{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/custom.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
    
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {# moment.lang('es') #}
{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon1.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename = 'favicon1.png') }}" type="image/x-icon">
{% endblock %}
{% block navbar %}
<div class="navbar navbar-default " style="color:rgb(30, 255, 0)" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Flasky</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img  src="{{current_user.image_url }}" style="float: left;height: 35px;width: 35px;border-radius:50%;margin-right: 10px;margin-top: -6px;" >
                        
                        <span>{{current_user.username}}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li> <a href = "{{url_for('main.user', username=current_user.username)}}">Profile</a></li>                 
                        <li> <a href = "{{url_for('auth.change_password')}}">Change Password</a></li>         
                        <li> <a href = "{{url_for('auth.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a>   </li>                          
                    </ul>
                </li>
                {% else %}
                    
                    <li> <a href = "{{url_for('auth.login')}}"><i class="fa fa-sign-in" aria-hidden="true"></i> Sign in</a> </li>
                    <li> <a href = "{{url_for('auth.register')}}"><i class="fa fa-user-plus" aria-hidden="true"></i> Sign up</a> </li>
                    
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}
<div class="container">
    {% for message in get_flashed_messages()%}
    <div class="alert alert-warning">
        <button type="button", class="close" data-dimiss="alert">&times;</button>  
        {{message}}  
    </div> 
    {% endfor%}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
