{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros with context %}

{% block page_content %}
{#
<p>The local date time is  {{moment(current_time).format("LLL")}}</p>
<p>That was {{moment(current_time).fromNow(refresh=True)}} </p>
#}

<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %} {{current_user.username}} {% else %} Stranger {% endif %}!</h1>
    <hr class="colorgraph">
    
</div>

{{ macros.markdownWidget(form) }}

<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Following</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
</div>

{% if pagination %}
    <div class="pagination" >
        {{ macros.pagination_widget(pagination, 'main.index') }}
    </div>
{% endif %}

{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ pagedown.include_pagedown() }}
{% endblock %}