{% extends "base.html" %}
{% block page_content %}
{% import "_macros.html" as macros %}
<div class="page-header" >
        <img src="{{user.image_url }}" style="height:100px;width:100px;border-radius: 50%" >
    
        <div id="userName"  style="display:inline;margin-left:30px">
            <h1 style="display:inline">{{ user.username }}</h1>
            
            {% if user==current_user and current_user.is_administrator()==False %}
            {#
            <button type="button" class="btn btn-default btn-sm" style="margin-bottom: 10px;margin-left: 10px;">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            #}
            <a class="btn btn-default btn-sm" href='{{url_for("main.edit_user")}}' style="margin-bottom: 10px;margin-left: 10px;"><span class="glyphicon glyphicon-pencil"></span>
                Edit</a>
            
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger btn-sm" style="margin-bottom: 10px;margin-left: 10px;" href="{{ url_for('main.edit_profile_admin', id=user.id) }}">Edit Profile [Admin]</a>
            {% endif %}
        </div>

        <div id="userInfoOthers" style="margin-left:130px">
                
            {% if user.name or user.location %}
                <p>
                    {% if user.name %}{{ user.name }}{% endif %}
                    {% if user.location %}
                        From <a href="http://maps.google.com/?q={{ user.location }}">{{ user.location }}</a>
                    {% endif %}
                </p>
            {% endif %}
            {% if current_user.is_administrator() %}
                <p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
            {% endif %}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            <p>
                Member since {{ moment(user.member_since).format('L') }}.
                Last seen {{ moment(user.last_seen).fromNow() }}.
            </p>
            <p>
                {% if current_user.can(Permission.FOLLOW) and user != current_user %}
                    {% if not current_user.is_following(user) %}
                    <a href="{{ url_for('main.follow', username=user.username) }}" class="btn btn-default">Follow</a>
                    {% else %}
                    <a href="{{ url_for('main.unfollow', username=user.username) }}" class="btn btn-default">Unfollow</a>
                    {% endif %}
                {% endif %}
                <a href="{{ url_for('main.followers', username=user.username) }}">Followers: <span class="badge">{{ user.followers.count()-1 }}</span></a>
                <a href="{{ url_for('main.followed_by', username=user.username) }}">Following: <span class="badge">{{ user.followed.count()-1 }}</span></a>
            </p>
    </div>
</div>

{% include '_posts.html' %}
{% if pagination %}
    <div class="pagination" >
        {{ macros.pagination_widget(pagination, 'main.user',username=user.username) }}
    </div>
{% endif %}
{% endblock %}